@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Monomakh';
  src: url('/fonts/monomakh.woff2') format('woff2'),
       url('/fonts/monomakh.woff') format('woff'),
       url('/fonts/monomakh.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

/* global.css or module.css file */
.location-search-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .autocomplete-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1000;
    width: 100%;
  }
  
  .suggestion-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestion-item--active {
    background-color: #e6e6e6;
  }
  